#grad {
	height: auto;
	background-image: linear-gradient(#0a0a23, #203354)
}
body {
	background-color: #0a0a23;
    text-align: center;
}
.position-header {
    padding-bottom: 50px;
}



/*text/colors*/
h1, h2, h3, h4, h5, li {
	font-family: 'trade winds';
	text-align: center;
    font-size: 50px;
}
p {
    font-size: 45px;
    max-width: 1000;
    margin: auto;
}
.white-text {
	color: white;
}
h1, h2, h3, h4, h5 {
    color: #ff9933;
}
p, ul, li, footer{
	color: white;
}
ul {
	margin: 10px 0;
    font-size: 50px;
}
strong {
	color: yellow;
}
.links {
    color: aqua;
}
a:hover {
    color: darkorange;
}
hr {
	margin: 50px 0px 50px 0px;
}



/*Social Media*/
#social-media-flexbox {
	height: 20%;
	display: flex;
	flex-direction: row;
        flex-wrap: nowrap;
	align-items: center;
        justify-content: center;
}
.gmail-padding {
    padding-right: 50px;
}
.discord-padding {
    padding-right: 50px;
    padding-top: 15px;
}
.youtube-padding {
    padding-right: 50px;
}



/*img sizing*/
.smaller-bax {
    width: 925px;
    height: 500px;
    position: relative;
}



/*img borders*/
.red-border {
		border-color: #720001;
		border-width: 5px;
		border-style: solid;
		border-radius: 0%;	   
}
.orange-border {
	    border-color: orange;
		border-width: 5px;
		border-style: solid;
		border-radius: 0%;
}
.brown-border {
		border-color: #654321;
		border-width: 5px;
		border-style: solid;
		border-radius: 0%;
}
.tan-border {
		border-color: #474829;
		border-width: 5px;
		border-style: solid;
		border-radius: 0%;
}
.green-border {
		border-color: #497B66;
		border-width: 5px;
		border-style: solid;
		border-radius: 0%;
}
.dark-gray-border {
	border-color: #070A14;
	border-width: 5px;
	border-style: solid;
	border-radius: 0%;
}
.cyan-border {
	border-color: #004158;
	border-width: 5px;
	border-style: solid;
	border-radius: 0%;
}
.blue-border {
	   border-color: 010952;
	   border-width: 5px;
	   border-style: double;
	   border-radius: 0%;
}
.gray-border {
	   border-color: gray;
       border-width: 5px;
	   border-style: solid;
	   border-radius: 0%;
}
.greenish-gray-border {
	   border-color: #626054;
	   border-width: 5px;
	   border-style: solid;
	   border-radius: 0%;
}
.silver-border {
	border-color: silver;
	border-width: 5px;
	border-style: solid;
	border-radius: 0%;
}



/*Clients*/
.smaller-logos {
	width: 600px;
}
.clients-padding {
    padding-bottom: 15px;
    height: 225px;
    width: 800px;
}
.data7-position {
	position: relative;
	bottom: 27px;
}
.vambrace-position {
	position: relative;
	bottom: 12.5px;
}
.suits-padding {
	padding-bottom: 30px;
}
.skyline-position {
  position: relative;
  bottom: -10px;
}
.moatboat-position {
	position: relative;
	top: -10px;
}
.qualitam-position {
    position: relative;
    top: 25px;
}
.li-padding {
	padding-top: 40px;
}



/*About Me*/
.pfp-border {
	border-color: #9F2833;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
}
.pfp-position {
	position: relative;
	right: 5px;
}
.smaller-image {
	max-width: 100%;
    height: 350;
    position: relative;
}

footer {
    top: 50px;
    bottom: 50px;
}

