@media only screen and (max-width: 950px;) {
   .smaller-bax {
      padding-left: -10%;
   }
}



/*background body images*/
.blue-wood { 
        background: url('https://wallpaperaccess.com/full/1567677.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#html {
    height: auto;
	background-image: linear-gradient(#0a0a23, #203354)
}
#grad {
	height: auto;
	background-image: linear-gradient(#0a0a23, #203354)
}
body {
    text-align: center;
    max-width: auto;
}
.position-header {
    padding-bottom: 50px;
}



/*text/colors*/
h1, h2, h3, h4, h5, li {
	font-family: 'trade winds';
    font-size: 50px;
}
p {
    font-size: 45px;
    max-width: 1000;
    margin: auto;
}
.white-text {
	color: white;
}
h1, h2, h3, h4, h5 {
    color: #ff9933;
}
p, ul, li, footer{
	color: white;
}
ul {
	margin: 10px 0;
    font-size: 50px;
}
strong {
	color: yellow;
}
.links {
    color: aqua;
}
a:hover {
    color: darkorange;
}
hr {
	margin: 50px 0px 50px 0px;
}



/*studio*/
#studio-flexbox {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Social Media*/
#social-media-flexbox {    
	height: 20%;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
	align-items: center;
    justify-content: center;
}
.gmail-padding {
    padding-right: 50px;
}
.discord-padding {
    padding-right: 50px;
    padding-top: 15px;
}
.youtube-padding {
    padding-right: 50px;
}
.position-email {
    padding-right: 570px;
    font-family: monospace;
    font-size: 27px;
}



/*
.smaller-bax {
    width: 925px;
    height: 500px;
}
*/

/*
#img-flexbox {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/


#tweet-flexbox {
	display: flex;
    height: auto;
    width: auto;
    justify-content: center;
}



/*Clients*/
#clients-flexbox {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smaller-logos {
	width: 500px;
}
.data7-position {
    padding-bottom: 50px;
}

.qualitam-position {
    position: relative;
    right: 10px
}
.li-padding {
	padding-top: 60px;
}



/*About Me*/
.pfp-border {
	border-color: #9F2833;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
}
.pfp-position {
	position: relative;
	right: 5px;
}
.smaller-image {
    height: 350;
    position: relative;
}
/*
footer {
    position: relative;
    top: 25px;
    bottom: 25px;
}
*/
